@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0 ,0, 0.6);
    padding: 4px;
    padding-bottom: 0;
    color: @text;
    border-radius: 6px;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip {
    background-color: @mantle;
    color: @text;
    border-radius: 6px;
    border: 1px solid shade(@text, 0.4);
}

#workspaces button {
    /* background: transparent; */
    padding: 1px 6px;
    color: shade(@text, 0.7);
    margin: 4px 0 4px 4px;
    border-radius: 6px;
    transition: 250ms ease-in-out;
    border: 1px solid transparent;
}

#workspaces button.active, #workspaces button.focused {
    color: @text;
    border: 1px solid shade(@text, 0.4);
}

#mode, #battery, #network {
    margin: 0 10px;
    padding-right: 10px;
}

#battery {
    /* background-color: #ffffff; */
    color: @text;
}

#custom-power {
    color: @text;
    margin: 0 8px;
    padding: 0 8px 0 4px;
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        color: @lavender;
    }
}

#battery.warning:not(.charging) {
    color: @peach;
    
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}